* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: fantasy;
}
.layout{
    display: block;
    justify-content: center;
}
.cabecera {
    background-color:black;
    width: 100%;
    min-height: 60px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.logo {
    display: flex;
    align-items: center;
    padding-right: 20px;
    border-right: 3px solid white;
}

.foto_logo {
    width: 40px;
    height: 40px;
    object-fit: cover;
}
.logo_t{
    width: 40px;
    height: 40px;
    object-fit: cover;
    justify-content: flex-end;
    background-color: white;
    border-radius: 10px;
    margin-left: 550px;
}
.carrusel{
    display: flex;
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
    background-color: #000;
}
.tarjeta_carrusel{
    display: flex;
    width: 300%;
    height: 100%;
    animation: slide 12s infinite;
}
.foto_carrusel{
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex: 0 0 100%; 

}
@keyframes slide{
    0%{
        transform: translateX(0%);
    }
    30%{
        transform: translateX(0%);
    }

    35%{
        transform: translateX(-100%);
    }
    65%{
        transform: translateX(-100%);
    }

    70%{
        transform: translateX(-200%);
    }
    100%{
        transform: translateX(-200%);
    }
}

.seccion1{
    display: flex;
    background-color: #000;
    color: white;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 40px 20px;
    gap: 20px;

}
.text_seccion1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
}

.foto_seccion1{
    width: 40%;
    max-width: 100%;
    height: auto;
    display: block;
}

.seccion2{
    display: flex;
    background-image: url('farola.jpg');
    object-fit: cover;
    color: white;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 800px;
    padding: 40px 20px;
    gap: 20px;
    

}
.text_seccion2{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50%;
    background-color: #000000a6;
    border-radius: 10px;
}
.text_colombia{
    display: flex;
    flex-direction: row;
}

.foto_seccion1{
    width: 40%;
    max-width: 100%;
    height: auto;
    display: block;
}

.menu {
    display: flex;
    align-items: center;
}

.menu a,
.menu a:visited {
    color: white;
    text-decoration: none;
    padding: 18px 20px;
    border-right: 3px solid white;
    display: flex;
    align-items: center;
    height: 40px;
}

.menu a:hover {
    background-color: #a00020;
}

h1{
    border: 20px white;
    text-align: center;
    color: white;
    font-family: fantasy;
    font-size: 40px;
}

.main_principal{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('fondo.avif');
    display: block;
    justify-content: center;
    align-items:center;
    object-fit: cover;    
}
.contenedor-tarjetas{
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 10px;
    margin: 10px;
}
.tarjeta {
    background-color: #ccbeb1;
    width: 350px;
    height: 620px;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    text-align: center;
    transition: transform 0.3s ease;
    align-items:center;
    justify-content: center;
    margin: 10px;
}
.tarjeta:hover {
    transform: translateY(-10px);
}
.media-hover{
    position: relative;
    width: 100%;
    max-width: 320px;
    height: 200px;
    margin: 0 auto 15px;
    overflow: hidden;
    border-radius: 10px;
}
.foto-perfil{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.video-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.video-container iframe{
    width: 100%;
    height: 100%;
    border: none;
}

.titulo_tarjeta{
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
.subtitulo {
    color: #666;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 1px;
}
.habilidades {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin-top: 1.5rem;
}
.tag {
    background-color: #e7f3ff;
    color: black;
    padding: 5px 12px;
    border-radius: 20px;
    font-size: 0.75rem;
}
.btn-contacto {
    background-color: #997e67;
    color: white;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 10px;

}
.tarjeta-pie{
    padding: 10px;
    margin-top: 10px;
}

.footer_abajo{
    background-color: white;
    color: red;
    padding: 20px;
    font-family: sans-serif;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;    
}
.foto_grupal{
    display: flex;
    background-image: url('img/pilotos.jpg');
    color: black;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    width: 100%;
    height: 700px;
}
.text_foto_grupal{
    display: flex;
    justify-content: center;
    object-fit: cover;
}
    