* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: fantasy;
}
.layout{
    display: block;
    justify-content: center;
    min-height: 100vh;
    background-color: #000;
}
.cabecera {
    background-color:black;
    width: 100%;
    min-height: 70px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    position: sticky; /*pa' que se mantenga en la pagina */
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.logo {
    display: flex;
    align-items: center;
    padding-right: 20px;
    border-right: 3px solid white;
    flex-shrink: 0; /*pa' que no se encoja */
}

.foto_logo {
    width: 50px;
    height: 50px;
    object-fit: cover;
}
.logo_t{
    display: flex;
    width: 150px;
    height: 40px;
    object-fit: cover;
    justify-content: flex-end;
    border-radius: 10px;
    margin-left: 350px;
    flex-grow: 0;
}
.menu {
    display: flex;
    align-items: center;
    flex: 1; /* pa' ocupar espacio disponible */
    flex-wrap: wrap; /* responsive en móviles */

}

.menu a,
.menu a:visited {
    color: white;
    text-decoration: none;
    padding: 18px 20px;
    border-right: 3px solid white;
    display: flex;
    align-items: center;
    height: 40px;
    transition: all 0.3s ease;
    white-space: nowrap; /* no rompe palabras */
}

.menu a:hover {
    background-color: #a00020;
    border-color: #fff;
    border-left: 3px solid white;
    transform: scale(1.05); /*efecto hover */
}
.carrusel{
    display: flex;
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
    background-color: #000;
}
.tarjeta_carrusel{
    display: flex;
    width: 300%;
    height: 100%;
    animation: slide 12s infinite;
}
.foto_carrusel{
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex: 0 0 100%; 

}
@keyframes slide{
    0%{
        transform: translateX(0%);
    }
    30%{
        transform: translateX(0%);
    }

    35%{
        transform: translateX(-100%);
    }
    65%{
        transform: translateX(-100%);
    }

    70%{
        transform: translateX(-200%);
    }
    100%{
        transform: translateX(-200%);
    }
}

.seccion1{
    display: flex;
    background-color: #000;
    color: white;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 40px 20px;
    gap: 20px;

}
.text_seccion1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
}

.foto_seccion1{
    width: 40%;
    max-width: 100%;
    height: auto;
    display: block;
}

.seccion2{
    display: flex;
    background-image: url('img/farola.jpg');
    object-fit: cover;
    color: white;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 800px;
    padding: 40px 20px;
    gap: 20px;
    

}
.text_seccion2{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50%;
    background-color: #000000a6;
    border-radius: 10px;
}
.text_colombia{
    display: flex;
    flex-direction: row;
}

.foto_seccion1{
    width: 40%;
    max-width: 100%;
    height: auto;
    display: block;
}
h1{
    border: 20px white;
    text-align: center;
    color: white;
    font-family: fantasy;
    font-size: 40px;
}

.tarjeta-pie{
    padding: 10px;
    margin-top: 10px;
}

.footer_abajo{
    background-color: rgb(0, 0, 0);
    color: red;
    padding: 20px;
    font-family: sans-serif;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;    
    border-top: rgba(255, 0, 0, 0.213) solid 1px;
}
.foto_grupal{
    display: flex;
    background-image: url('img/pilotos.jpg');
    color: black;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    width: 100%;
    height: 700px;
}
.text_foto_grupal{
    display: flex;
    justify-content: center;
    object-fit: cover;
}

.container_pilotos{
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #000;
    margin:1% 1% 0 1%;
    
}

.text_pilotos{
    display: flex;
    text-align: start;
    padding: 10px 10px 0 10px;
    border: 10px;
    border-color: red;
}

.container_imagenes_pilotos{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-left: 1%;
    margin-left: 1%;
}
.tarjeta_imagenes{
    display: flex;
    background-image: url('img/pilotos/fondo_pilotos.avif');
    width: 180px;
    height: 332px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    position: relative;
    overflow: hidden;
    align-items:center;
    justify-content: center;
    margin: 10px;
}
.foto_piloto{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.text_tarjeta_piloto{
    font-family:'Courier New', Courier, monospace;
    position: absolute;
    bottom: 12px;
    left: 12px;
    margin: 0;
    color: white;
    font-size: 18px;
    z-index: 1;
}